body {
    margin: 0;
}

#container {
    position: relative;
}

#wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    opacity: 1;
    transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
}
#loading {
    position: absolute;
    left: 50%;
    margin: -100px 0 0 -100px; 
    top: 50%;
}

.fade-out {
    opacity: 0 !important;
}